(setq mythic-meaning-tables '(;; Action Tables
					; table 1
			      (("Exploit" "Crash" "Develop")
					; table 2
			       ("Find" "Liberate" "Test"))
			      ;; Description Tables
					; table 1
			      (("Functionally" "Broadly" "Narrowly")
					; table 2
			       ("Happily" "Scarily" "Criminally"))))

(setq mythic-meaning-tables-elements '(("ADVENTURE TONE"
					"Exciting" "Funny" "Scary")
				       ("CHARACTER DESCRIPTION"
					"Young" "Old" "Skilled" "Clumsy")
				       ))
